@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Cardo&family=Cookie&family=Dosis&family=Geologica:wght@500;600&family=Great+Vibes&family=Lora:ital@1&family=Playfair+Display&family=Poppins:wght@100;200;300;400;500;600;700&family=Ysabeau+SC:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #222;
}

.contact .content {
    max-width: 800px;
    text-align: center;


}

.contact .content h2 {
    font-size: 3em;
    color: #fff;
    font-weight: 300;


}

.contact .content p {
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
}

.aboutme-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
}

.aboutme-container .contactinfo {
    width: 50%;
    display: flex;
    flex-direction: column;

    
   
}
.aboutme-container .contactinfo .box{
     position: relative;   
    padding: 20px 0;
    display: flex;
    cursor: pointer;
}
.aboutme-container .contactinfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content:center ;
    align-items: center;
    font-size: 1.75em;
    transition: 0.5s;

}
.icon-location{
    margin-top: 7px;
}
.aboutme-container .contactinfo .box .icon:hover{
    background-color:blueviolet;
    color: #fff;
}
.aboutme-container .contactinfo .box .text{
    display: flex;
    flex-direction: column ;
    margin-left: 20px;
    font-size: 1em;
    color: #fff;
    font-weight: 300;

}
.aboutme-container .contactinfo .txt{
    color: #fff;
    margin-top: 50px;
    font-weight: 500;
    padding-left: 10px;
    border-left: 50px solid #e91e63;
    line-height: 1em;
}

.aboutme-container .contactinfo .box .text h3{
    font-weight: 500;
    color: blueviolet;
}
.contactform-emoji{
     position: relative; 
    display: flex;
    gap: 30px;
    margin:20px 0;

}
.contactform-emoji li{

list-style:  none;

}
.contactform-emoji li a{
    color: #fff;
    font-size: 2em; 
}
.contactform-emoji li a:hover{
    color: #00bcd4;
}
.aboutme-container .contactForm{
    position: relative;
    width: 40%;
    background-color: #fff;
    min-height: 100px;
    padding: 50px;
    
}
.aboutme-container .contactForm h2{
    font-size: 2em;
    color: #333;
    font-weight: 500;
}
.aboutme-container .contactForm .inputbox{
    position: relative;
    width: 100%;
    margin-top: 20px;
}
.aboutme-container .contactForm .inputbox input,
.aboutme-container .contactForm .inputbox textarea
{
     width: 100%;
    padding: 5px 0;
    font-size: 1.1em;
     margin: 10px 0;
    border: none;  
    border-bottom: 2px solid black ;
    outline: none;
     resize: none; 
}
.aboutme-container .contactForm .inputbox span{
    position: absolute;
    left: 0;
    pointer-events: none;
    padding:5px 0;
    margin: 10px 0;
    font-size: 1.1em;
    color: #666;
    transition: 0.5s;


  }
  .aboutme-container .contactForm .inputbox input:focus~span,
.aboutme-container .contactForm .inputbox textarea:focus~span,
.aboutme-container .contactForm .inputbox input:valid~span,
.aboutme-container .contactForm .inputbox textarea:valid~span{
    color: #e91e63;
    font-size: 0.9em;
    transform: translateY(-20px);
}
.aboutme-container .contactForm .inputbox input[type="submit"]{
    width: 100px;
    background: blueviolet;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1.1em;
    font-weight: 500;

}
/* responsive part */
@media( max-width:1050px){
    .contact{
         padding: 50px; 
    }
    .aboutme-container{
        flex-direction: column;
    }
    .aboutme-container .contactinfo,
    .aboutme-container .contactForm{
        width: 100%;
    }
    .aboutme-container .contactForm{
        padding: 50px 30px;
    }

}
@media( max-width:550px){
    .contact{
        padding: 15px; 
   }
   .contact .content p{
    display: none;
   }
   .contact .content h2{
    margin-top: 15px;
   }
}

